@{
    ViewBag.Title = "DownloadPage";
}

Software for Statistics analyzer is provided as-is with no warranty. Software is currently is beta testing mode. Please don't use unless
given specific permission from software author. Software currently runs and both Windows 8 and Window 7 (requires <a href="https://www.microsoft.com/en-us/download/details.aspx?id=30653">.NET 4.5 download</a>)
<h2>Downloads</h2>
<a href="https://mixedmodel.blob.core.windows.net/cdn/StatsAnalyzer.zip">with R pre-packaged</a>(~172Mb)<br>
<a href="https://mixedmodel.blob.core.windows.net/cdn/StatsAnalyzerNoR.zip">without R pre-packaged</a> (~10Mb) require R installed from <a href="http://cran.r-project.org/bin/windows/base/">here</a>

